<header class="page-header">
    <h1>Admin::Dashboard#show</h1>
  </header>

<table class="table table-bordered">
      <thead>
        <tr>
          <th># of products in the database</th>
          <th># of categories in the database</th>
        </tr>
      </thead>
      <tbody>
        <th><%= @productCount %></th>
          <th><%= @categoryCount %></th>
      </tbody>
    </table>
